* {
    margin: 0;
    padding: 0;

}
.meituan-container{
    width: 298px;
    height: 300px;
    border: 1px solid #e5e5e5;
}
.default{
    padding-top: 38px;

}
.head-img{
    margin-bottom: 14px;
}
.head-img img{
               
    height: 58px;
    width: 58px;
    border: 5px solid #e5e5e5;
    border-radius: 50%;
    margin: 0 auto;
    display: block;


}

.username{
    font-size: 16px;
    color: #222222;
    text-align: center;
    width: 152px;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn{
    width: 148px;
    height: 48px;
    display: block;
    text-align: center;
    border: 1px solid #e5e5e5;
    line-height: 48px;
    color: #332233;
    border-radius: 24px;

    
}
.btn:hover{
    background-color: #dddddd;
}

a{
    text-decoration: none;
}

.btn-register{
  margin: 16px auto 19px;

}
.btn-login{
    margin: 0 auto;
}