 *
    margin 0
    padding 0

html, body 
    height 100%
    width 100%

.cat-container
    height 117px
    width 201px
    top 50%
    left:  50%
    position absolute
    background-image url(./images/catbg.jpg)
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
.cat-img    
    
    margin 0 auto 
    left 80px
    top 250px
    position relative
    overflow hidden

.yan1   
    margin 0 auto
    left 75px
    top -45px
    position relative

.yan2  
    margin 0 auto
    left 90px
    top -55px
    position relative

.cat-zui  
    margin 0 auto
    left 75px
    top -70px
    position relative

.cat-weiba
    margin 0 auto
    left 0
    top -300px
    position relative

