.container, .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.tab {
    display: none;
}
.tab.show {
    display: block;

}

.page__bd{
    height: 100%;
    background-color: #fff;
    overflow-y:auto;
}

.tbui-tabbar__item {
    width: 100%;
    height: 100%;
}
.tbui-tabbar__item img {
    display: block;
    width: 10px;
    height: 10px;
}
.tbui-search-bar {
    background-color:rgb(10, 24, 223);
  
}
 #old{
    text-decoration: line-through;
    color: black;
}
#new {
    color: red;
    font-size: 18px;
}

