.tbui-cells99 {
    font-size: 10px;
    line-height: 1.47058824;
    background-color: #087ddd;
    position: relative;
    overflow: hidden;


}

.tbui-cells99:before {
           content:"";
           left: 0;
           right: 0;
           top: 0;
           height: 10px;
           border-top: 0px solid #e5e5e5;
           position: absolute;
           transform: scaleY(.5);
           transform-origin: 0 0;
}
.tbui-cells99:after {
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 0px solid #e5e5e5;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 100%;
}
.tbui-cell99 {
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.tbui-cell99__bd {
      flex: 1;
}
.tbui-cell99__ft {
    


}







.tbui-cells0 {
    font-size: 10px;
    line-height:1.47058824 ;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}
.tbui-cells:before{
        content:"";
        left: 0;
        right: 0;
        top: 0;
        height: 10px;
        border-top: 0px solid #e5e5e5;
        position: absolute;
        transform: scaleY(.5);
        transform-origin: 0 0;
}
.tbui-cells0:after{
    content:"";
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 100%;
}
.tbui-cell0 {
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.tbui-cell0__bd {
    flex:1;
}
.tbui-cell0__ft {

}




.tbui-cells {
    font-size: 10px;
    line-height: 1.47058824;
    margin-top: 1.17647059em;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

}
.tbui-cells:before {
           content:"";
           left: 0;
           right: 0;
           top: 0;
           height: 10px;
           border-top: 3px solid #e5e5e5;
           position: absolute;
           transform: scaleY(.5);
           transform-origin: 0 0;
}
.tbui-cells:after {
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 100%;
}
.tbui-cell {
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.tbui-cell__bd {
      flex: 1;
}
.tbui-cell__ft {
    


}
.tbui-cells2 {
    font-size: 10px;
    line-height: 1.47058824;
    margin-top: 1.17647059em;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

}
.tbui-cells2:before {
           content:"";
           left: 0;
           right: 0;
           top: 0;
           height: 10px;
           border-top: 0px solid #e5e5e5;
           position: absolute;
           transform: scaleY(.5);
           transform-origin: 0 0;
}
.tbui-cells2:after {
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 100%;
}
.tbui-cell2 {
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.tbui-cell__bd2 {
      flex: 1;
}
.tbui-cell__ft2 {


}
.tbui-cells3 {
    font-size: 10px;
    line-height: 1.47058824;
    margin-top: 1.17647059em;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

}
.tbui-cells3:before {
           content:"";
           left: 0;
           right: 0;
           top: 0;
           height: 10px;
           border-top: 0px solid #e5e5e5;
           position: absolute;
           transform: scaleY(.5);
           transform-origin: 0 0;
}
.tbui-cells3:after {
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 100%;
}
.tbui-cell3 {
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.tbui-cell__bd3 {
      flex: 1;
}
.tbui-cell__ft3 {


}
.tbui-cells4 {
    font-size: 10px;
    line-height: 1.47058824;
    margin-top: 1.17647059em;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

}
.tbui-cells4:before {
           content:"";
           left: 0;
           right: 0;
           top: 0;
           height: 10px;
           border-top: 0px solid #e5e5e5;
           position: absolute;
           transform: scaleY(.5);
           transform-origin: 0 0;
}
.tbui-cells4:after {
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 100%;
}
.tbui-cell4 {
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.tbui-cell4__bd4 {
      flex: 1;
}
.tbui-cell4__ft4 {


}
.tbui-cells5 {
    font-size: 10px;
    line-height: 1.47058824;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

}
.tbui-cells5:before {
           content:"";
           left: 0;
           right: 0;
           top: 0;
           height: 10px;
           border-top: 0px solid #e5e5e5;
           position: absolute;
           transform: scaleY(.5);
           transform-origin: 0 0;
}
.tbui-cells5:after {
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 100%;
}
.tbui-cell5 {
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.tbui-cell5__bd5 {
      flex: 1;
}
.tbui-cell5__ft5 {


}

.tbui-cells6 {
    font-size: 10px;
    line-height: 1.47058824;

    background-color: #ffffff;
    position: relative;
    overflow: hidden;

}
.tbui-cells6:before {
           content:"";
           left: 0;
           right: 0;
           top: 0;
           height: 10px;
           border-top: 3px solid #e5e5e5;
           position: absolute;
           transform: scaleY(.5);
           transform-origin: 0 0;
}
.tbui-cells6:after {
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 100%;
}
.tbui-cell6 {
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.tbui-cell6__bd {
      flex: 1;
}
.tbui-cell6__ft {


}

.tbui-cells7 {
    font-size: 10px;
    line-height: 1.47058824;
    margin-top: 1.17647059em;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

}
.tbui-cells7:before {
           content:"";
           left: 0;
           right: 0;
           top: 0;
           height: 10px;
           border-top: 0px solid #e5e5e5;
           position: absolute;
           transform: scaleY(.5);
           transform-origin: 0 0;
}
.tbui-cells7:after {
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 100%;
}
.tbui-cell7 {
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.tbui-cell7__bd {
      flex: 1;
}
.tbui-cell7__ft {


}

.tbui-cells8 {
    font-size: 10px;
    line-height: 1.47058824;
    margin-top: 1.17647059em;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

}
.tbui-cells8:before {
           content:"";
           left: 0;
           right: 0;
           top: 0;
           height: 10px;
           border-top: 0px solid #e5e5e5;
           position: absolute;
           transform: scaleY(.5);
           transform-origin: 0 0;
}
.tbui-cells8:after {
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 100%;
}
.tbui-cell8 {
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.tbui-cell8__bd {
      flex: 1;
}
.tbui-cell8__ft {


}

.tbui-cells9 {
    font-size: 10px;
    line-height: 1.47058824;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

}
.tbui-cells9:before {
           content:"";
           left: 0;
           right: 0;
           top: 0;
           height: 10px;
           border-top: 3px solid #e5e5e5;
           position: absolute;
           transform: scaleY(.5);
           transform-origin: 0 0;
}
.tbui-cells9:after {
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 100%;
}
.tbui-cell9 {
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.tbui-cell9__bd {
      flex: 1;
}
.tbui-cell9__ft {


}
.tbui-cells10 {
    font-size: 10px;
    line-height: 1.47058824;
    
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

}
.tbui-cells10:before {
           content:"";
           left: 0;
           right: 0;
           top: 0;
           height: 10px;
           border-top: 0px solid #e5e5e5;
           position: absolute;
           transform: scaleY(.5);
           transform-origin: 0 0;
}
.tbui-cells10:after {
    content:"";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    transform: scaleY(.5);
    transform-origin: 0 100%;
}
.tbui-cell10 {
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.tbui-cell10__bd {
      flex: 1;
}
.tbui-cell10__ft {


}