* {
    margin: 0;
    padding: 0;
}
.swiper-slide {
    border:1px solid red;
    width: 300px;
    height: 178px;
    border-radius: 5px;
    padding: 12px 16px;
    box-sizing: border-box;

}
/* 定义了一个字体 */
@font-face {
    font-family: 'iconfont';  /* project id 1096822 */
    src: url('//at.alicdn.com/t/font_1096822_zq9asf0ycq.eot');
    src: url('//at.alicdn.com/t/font_1096822_zq9asf0ycq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1096822_zq9asf0ycq.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1096822_zq9asf0ycq.woff') format('woff'),
    url('//at.alicdn.com/t/font_1096822_zq9asf0ycq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1096822_zq9asf0ycq.svg#iconfont') format('svg');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .swiper-slide.balance-plan {
      background: linear-gradient(
          #ca1706,
          #f19e44
      );
  }
  .swiper-slide.balance-plan header span {
      display: block;
  }
  .swiper-slide.balance-plan header  {
    display: flex;
    align-items: center;
}
.swiper-slide.balance-plan .slide-header__title{
    flex:1;
}