html,
body {
  height: 100%;
  background-color: #000;
  overflow: hidden;
}
.g-candle {
  position: absolute;
  width: 400px;
  height: 400px;
}
.g-candle .g-body {
  position: relative;
  width: 100px;
  height: 300px;
  margin: 280px auto;
  background: linear-gradient(230deg, #ca9800, #573903, #000 70%);
  z-index: 1;
}
.g-candle .g-body:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 40px;
  border-radius: 50%;
  top: -20px;
  background: radial-gradient(#a46800, #5c2104 45%, #905602 100%);
}
.g-candle .g-body:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 48px;
  left: 50%;
  top: -22px;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 60%, #fff);
  opacity: 0.7;
  filter: blur(1px);
}
.g-candle .g-fire-box {
  position: absolute;
  top: 97px;
  left: 50%;
  width: 80px;
  height: 200px;
  transform: translate(-50%, -50%);
  filter: blur(2px) contrast(10);
}
.g-candle .g-fire-box .g-fire {
  position: absolute;
  top: 30px;
  left: 50%;
  border-radius: 45%;
  border: 120px solid #000;
  background-color: #761b00;
  border-bottom-color: transparent;
  transform: translate(-50%, 0) scaleX(0.45);
}
.g-candle .g-fire-box .g-fire .g-ball {
  position: absolute;
  top: 60px;
  transform: translate(0, 0);
  background: #fa8763;
  border-radius: 50%;
  z-index: -1;
  mix-blend-mode: screen;
}
.g-ball:nth-child(1) {
  width: 17px;
  height: 17px;
  left: 16px;
  animation: movetop 1s linear -24.68s infinite;
}
.g-ball:nth-child(2) {
  width: 3px;
  height: 3px;
  left: -35px;
  animation: movetop 1s linear -13.83s infinite;
}
.g-ball:nth-child(3) {
  width: 6px;
  height: 6px;
  left: 15px;
  animation: movetop 1s linear -21.87s infinite;
}
.g-ball:nth-child(4) {
  width: 0px;
  height: 0px;
  left: -7px;
  animation: movetop 1s linear -22.95s infinite;
}
.g-ball:nth-child(5) {
  width: 35px;
  height: 35px;
  left: -41px;
  animation: movetop 1s linear -26.35s infinite;
}
.g-ball:nth-child(6) {
  width: 29px;
  height: 29px;
  left: 2px;
  animation: movetop 1s linear -28.06s infinite;
}
.g-ball:nth-child(7) {
  width: 32px;
  height: 32px;
  left: -25px;
  animation: movetop 1s linear -29.63s infinite;
}
.g-ball:nth-child(8) {
  width: 42px;
  height: 42px;
  left: 8px;
  animation: movetop 1s linear -10.38s infinite;
}
.g-ball:nth-child(9) {
  width: 49px;
  height: 49px;
  left: -16px;
  animation: movetop 1s linear -29.53s infinite;
}
.g-ball:nth-child(10) {
  width: 29px;
  height: 29px;
  left: 15px;
  animation: movetop 1s linear -14.87s infinite;
}
.g-ball:nth-child(11) {
  width: 46px;
  height: 46px;
  left: -27px;
  animation: movetop 1s linear -0.4s infinite;
}
.g-ball:nth-child(12) {
  width: 21px;
  height: 21px;
  left: -1px;
  animation: movetop 1s linear -28.23s infinite;
}
.g-ball:nth-child(13) {
  width: 25px;
  height: 25px;
  left: -22px;
  animation: movetop 1s linear -10.84s infinite;
}
.g-ball:nth-child(14) {
  width: 40px;
  height: 40px;
  left: -31px;
  animation: movetop 1s linear -7.75s infinite;
}
.g-ball:nth-child(15) {
  width: 6px;
  height: 6px;
  left: -43px;
  animation: movetop 1s linear -28.45s infinite;
}
.g-ball:nth-child(16) {
  width: 32px;
  height: 32px;
  left: -1px;
  animation: movetop 1s linear -16.69s infinite;
}
.g-ball:nth-child(17) {
  width: 31px;
  height: 31px;
  left: -22px;
  animation: movetop 1s linear -26.33s infinite;
}
.g-ball:nth-child(18) {
  width: 21px;
  height: 21px;
  left: -1px;
  animation: movetop 1s linear -1.77s infinite;
}
.g-ball:nth-child(19) {
  width: 34px;
  height: 34px;
  left: 0px;
  animation: movetop 1s linear -14.13s infinite;
}
.g-ball:nth-child(20) {
  width: 48px;
  height: 48px;
  left: -24px;
  animation: movetop 1s linear -18.02s infinite;
}
.g-ball:nth-child(21) {
  width: 41px;
  height: 41px;
  left: -28px;
  animation: movetop 1s linear -5.89s infinite;
}
.g-ball:nth-child(22) {
  width: 44px;
  height: 44px;
  left: -47px;
  animation: movetop 1s linear -13.19s infinite;
}
.g-ball:nth-child(23) {
  width: 9px;
  height: 9px;
  left: -37px;
  animation: movetop 1s linear -26.2s infinite;
}
.g-ball:nth-child(24) {
  width: 30px;
  height: 30px;
  left: -42px;
  animation: movetop 1s linear -29.08s infinite;
}
.g-ball:nth-child(25) {
  width: 38px;
  height: 38px;
  left: -36px;
  animation: movetop 1s linear -9.02s infinite;
}
.g-ball:nth-child(26) {
  width: 46px;
  height: 46px;
  left: -11px;
  animation: movetop 1s linear -24.08s infinite;
}
.g-ball:nth-child(27) {
  width: 35px;
  height: 35px;
  left: 6px;
  animation: movetop 1s linear -2.98s infinite;
}
.g-ball:nth-child(28) {
  width: 4px;
  height: 4px;
  left: -44px;
  animation: movetop 1s linear -24.05s infinite;
}
.g-ball:nth-child(29) {
  width: 26px;
  height: 26px;
  left: -9px;
  animation: movetop 1s linear -3.08s infinite;
}
.g-ball:nth-child(30) {
  width: 40px;
  height: 40px;
  left: -6px;
  animation: movetop 1s linear -28.38s infinite;
}
.g-ball:nth-child(31) {
  width: 1px;
  height: 1px;
  left: -6px;
  animation: movetop 1s linear -17.65s infinite;
}
.g-ball:nth-child(32) {
  width: 6px;
  height: 6px;
  left: -27px;
  animation: movetop 1s linear -1.15s infinite;
}
.g-ball:nth-child(33) {
  width: 28px;
  height: 28px;
  left: -37px;
  animation: movetop 1s linear -21.14s infinite;
}
.g-ball:nth-child(34) {
  width: 27px;
  height: 27px;
  left: -33px;
  animation: movetop 1s linear -17.74s infinite;
}
.g-ball:nth-child(35) {
  width: 7px;
  height: 7px;
  left: 13px;
  animation: movetop 1s linear -3.51s infinite;
}
.g-ball:nth-child(36) {
  width: 45px;
  height: 45px;
  left: -39px;
  animation: movetop 1s linear -25.48s infinite;
}
.g-ball:nth-child(37) {
  width: 36px;
  height: 36px;
  left: 10px;
  animation: movetop 1s linear -6.83s infinite;
}
.g-ball:nth-child(38) {
  width: 37px;
  height: 37px;
  left: -28px;
  animation: movetop 1s linear -2.22s infinite;
}
.g-ball:nth-child(39) {
  width: 34px;
  height: 34px;
  left: -15px;
  animation: movetop 1s linear -22.57s infinite;
}
.g-ball:nth-child(40) {
  width: 19px;
  height: 19px;
  left: -40px;
  animation: movetop 1s linear -26.12s infinite;
}
.g-ball:nth-child(41) {
  width: 23px;
  height: 23px;
  left: 16px;
  animation: movetop 1s linear -24.49s infinite;
}
.g-ball:nth-child(42) {
  width: 46px;
  height: 46px;
  left: -23px;
  animation: movetop 1s linear -28.83s infinite;
}
.g-ball:nth-child(43) {
  width: 47px;
  height: 47px;
  left: -29px;
  animation: movetop 1s linear -18.46s infinite;
}
.g-ball:nth-child(44) {
  width: 15px;
  height: 15px;
  left: -37px;
  animation: movetop 1s linear -12.95s infinite;
}
.g-ball:nth-child(45) {
  width: 24px;
  height: 24px;
  left: -49px;
  animation: movetop 1s linear -10.64s infinite;
}
.g-ball:nth-child(46) {
  width: 4px;
  height: 4px;
  left: -28px;
  animation: movetop 1s linear -5.19s infinite;
}
.g-ball:nth-child(47) {
  width: 18px;
  height: 18px;
  left: 14px;
  animation: movetop 1s linear -14.74s infinite;
}
.g-ball:nth-child(48) {
  width: 45px;
  height: 45px;
  left: 13px;
  animation: movetop 1s linear -2.9s infinite;
}
.g-ball:nth-child(49) {
  width: 44px;
  height: 44px;
  left: -28px;
  animation: movetop 1s linear -23.22s infinite;
}
.g-ball:nth-child(50) {
  width: 13px;
  height: 13px;
  left: -41px;
  animation: movetop 1s linear -23.07s infinite;
}
.g-ball:nth-child(51) {
  width: 3px;
  height: 3px;
  left: 1px;
  animation: movetop 1s linear -25.98s infinite;
}
.g-ball:nth-child(52) {
  width: 46px;
  height: 46px;
  left: 7px;
  animation: movetop 1s linear -9.83s infinite;
}
.g-ball:nth-child(53) {
  width: 35px;
  height: 35px;
  left: -41px;
  animation: movetop 1s linear -16.58s infinite;
}
.g-ball:nth-child(54) {
  width: 15px;
  height: 15px;
  left: -28px;
  animation: movetop 1s linear -16.89s infinite;
}
.g-ball:nth-child(55) {
  width: 46px;
  height: 46px;
  left: -5px;
  animation: movetop 1s linear -0.13s infinite;
}
.g-ball:nth-child(56) {
  width: 31px;
  height: 31px;
  left: 18px;
  animation: movetop 1s linear -19.59s infinite;
}
.g-ball:nth-child(57) {
  width: 17px;
  height: 17px;
  left: -30px;
  animation: movetop 1s linear -13.05s infinite;
}
.g-ball:nth-child(58) {
  width: 21px;
  height: 21px;
  left: 19px;
  animation: movetop 1s linear -7.24s infinite;
}
.g-ball:nth-child(59) {
  width: 20px;
  height: 20px;
  left: -31px;
  animation: movetop 1s linear -23.88s infinite;
}
.g-ball:nth-child(60) {
  width: 27px;
  height: 27px;
  left: 16px;
  animation: movetop 1s linear -11.82s infinite;
}
.g-ball:nth-child(61) {
  width: 19px;
  height: 19px;
  left: -38px;
  animation: movetop 1s linear -14.24s infinite;
}
.g-ball:nth-child(62) {
  width: 16px;
  height: 16px;
  left: 17px;
  animation: movetop 1s linear -12.24s infinite;
}
.g-ball:nth-child(63) {
  width: 40px;
  height: 40px;
  left: -28px;
  animation: movetop 1s linear -23.37s infinite;
}
.g-ball:nth-child(64) {
  width: 34px;
  height: 34px;
  left: -40px;
  animation: movetop 1s linear -9.06s infinite;
}
.g-ball:nth-child(65) {
  width: 19px;
  height: 19px;
  left: -45px;
  animation: movetop 1s linear -13.78s infinite;
}
.g-ball:nth-child(66) {
  width: 1px;
  height: 1px;
  left: -34px;
  animation: movetop 1s linear -19.66s infinite;
}
.g-ball:nth-child(67) {
  width: 19px;
  height: 19px;
  left: -6px;
  animation: movetop 1s linear -23.06s infinite;
}
.g-ball:nth-child(68) {
  width: 18px;
  height: 18px;
  left: -19px;
  animation: movetop 1s linear -7.01s infinite;
}
.g-ball:nth-child(69) {
  width: 6px;
  height: 6px;
  left: 17px;
  animation: movetop 1s linear -23.88s infinite;
}
.g-ball:nth-child(70) {
  width: 42px;
  height: 42px;
  left: 14px;
  animation: movetop 1s linear -4.2s infinite;
}
.g-ball:nth-child(71) {
  width: 39px;
  height: 39px;
  left: -6px;
  animation: movetop 1s linear -0.36s infinite;
}
.g-ball:nth-child(72) {
  width: 21px;
  height: 21px;
  left: -47px;
  animation: movetop 1s linear -10.11s infinite;
}
.g-ball:nth-child(73) {
  width: 30px;
  height: 30px;
  left: -14px;
  animation: movetop 1s linear -13.01s infinite;
}
.g-ball:nth-child(74) {
  width: 39px;
  height: 39px;
  left: 2px;
  animation: movetop 1s linear -1.43s infinite;
}
.g-ball:nth-child(75) {
  width: 9px;
  height: 9px;
  left: -44px;
  animation: movetop 1s linear -13.46s infinite;
}
.g-ball:nth-child(76) {
  width: 35px;
  height: 35px;
  left: 16px;
  animation: movetop 1s linear -9.12s infinite;
}
.g-ball:nth-child(77) {
  width: 19px;
  height: 19px;
  left: 19px;
  animation: movetop 1s linear -6.93s infinite;
}
.g-ball:nth-child(78) {
  width: 2px;
  height: 2px;
  left: -14px;
  animation: movetop 1s linear -21.63s infinite;
}
.g-ball:nth-child(79) {
  width: 20px;
  height: 20px;
  left: -1px;
  animation: movetop 1s linear -1.6s infinite;
}
.g-ball:nth-child(80) {
  width: 27px;
  height: 27px;
  left: -2px;
  animation: movetop 1s linear -13.15s infinite;
}
.g-ball:nth-child(81) {
  width: 40px;
  height: 40px;
  left: -42px;
  animation: movetop 1s linear -3.71s infinite;
}
.g-ball:nth-child(82) {
  width: 49px;
  height: 49px;
  left: -44px;
  animation: movetop 1s linear -21.61s infinite;
}
.g-ball:nth-child(83) {
  width: 9px;
  height: 9px;
  left: 11px;
  animation: movetop 1s linear -18.13s infinite;
}
.g-ball:nth-child(84) {
  width: 25px;
  height: 25px;
  left: 13px;
  animation: movetop 1s linear -16.76s infinite;
}
.g-ball:nth-child(85) {
  width: 24px;
  height: 24px;
  left: -6px;
  animation: movetop 1s linear -19.07s infinite;
}
.g-ball:nth-child(86) {
  width: 13px;
  height: 13px;
  left: 5px;
  animation: movetop 1s linear -17.92s infinite;
}
.g-ball:nth-child(87) {
  width: 43px;
  height: 43px;
  left: -9px;
  animation: movetop 1s linear -24.59s infinite;
}
.g-ball:nth-child(88) {
  width: 3px;
  height: 3px;
  left: -48px;
  animation: movetop 1s linear -5.72s infinite;
}
.g-ball:nth-child(89) {
  width: 14px;
  height: 14px;
  left: -35px;
  animation: movetop 1s linear -18.45s infinite;
}
.g-ball:nth-child(90) {
  width: 18px;
  height: 18px;
  left: -46px;
  animation: movetop 1s linear -25.6s infinite;
}
.g-ball:nth-child(91) {
  width: 40px;
  height: 40px;
  left: -12px;
  animation: movetop 1s linear -11.85s infinite;
}
.g-ball:nth-child(92) {
  width: 49px;
  height: 49px;
  left: -2px;
  animation: movetop 1s linear -12.71s infinite;
}
.g-ball:nth-child(93) {
  width: 36px;
  height: 36px;
  left: -9px;
  animation: movetop 1s linear -17.97s infinite;
}
.g-ball:nth-child(94) {
  width: 15px;
  height: 15px;
  left: -27px;
  animation: movetop 1s linear -17.2s infinite;
}
.g-ball:nth-child(95) {
  width: 20px;
  height: 20px;
  left: -49px;
  animation: movetop 1s linear -27.89s infinite;
}
.g-ball:nth-child(96) {
  width: 25px;
  height: 25px;
  left: -5px;
  animation: movetop 1s linear -4.98s infinite;
}
.g-ball:nth-child(97) {
  width: 5px;
  height: 5px;
  left: -50px;
  animation: movetop 1s linear -26.03s infinite;
}
.g-ball:nth-child(98) {
  width: 9px;
  height: 9px;
  left: -22px;
  animation: movetop 1s linear -2.74s infinite;
}
.g-ball:nth-child(99) {
  width: 4px;
  height: 4px;
  left: 20px;
  animation: movetop 1s linear -20s infinite;
}
.g-ball:nth-child(100) {
  width: 17px;
  height: 17px;
  left: -38px;
  animation: movetop 1s linear -16.92s infinite;
}
.g-ball:nth-child(101) {
  width: 27px;
  height: 27px;
  left: -7px;
  animation: movetop 1s linear -9.63s infinite;
}
.g-ball:nth-child(102) {
  width: 5px;
  height: 5px;
  left: -33px;
  animation: movetop 1s linear -3.61s infinite;
}
.g-ball:nth-child(103) {
  width: 46px;
  height: 46px;
  left: 20px;
  animation: movetop 1s linear -16.5s infinite;
}
.g-ball:nth-child(104) {
  width: 34px;
  height: 34px;
  left: -23px;
  animation: movetop 1s linear -24.88s infinite;
}
.g-ball:nth-child(105) {
  width: 14px;
  height: 14px;
  left: -40px;
  animation: movetop 1s linear -13.16s infinite;
}
.g-ball:nth-child(106) {
  width: 39px;
  height: 39px;
  left: -12px;
  animation: movetop 1s linear -17.44s infinite;
}
.g-ball:nth-child(107) {
  width: 33px;
  height: 33px;
  left: 17px;
  animation: movetop 1s linear -12.45s infinite;
}
.g-ball:nth-child(108) {
  width: 8px;
  height: 8px;
  left: 11px;
  animation: movetop 1s linear -17s infinite;
}
.g-ball:nth-child(109) {
  width: 4px;
  height: 4px;
  left: -27px;
  animation: movetop 1s linear -1.79s infinite;
}
.g-ball:nth-child(110) {
  width: 38px;
  height: 38px;
  left: 7px;
  animation: movetop 1s linear -17.46s infinite;
}
.g-ball:nth-child(111) {
  width: 46px;
  height: 46px;
  left: 0px;
  animation: movetop 1s linear -10.13s infinite;
}
.g-ball:nth-child(112) {
  width: 25px;
  height: 25px;
  left: -21px;
  animation: movetop 1s linear -21.13s infinite;
}
.g-ball:nth-child(113) {
  width: 39px;
  height: 39px;
  left: -2px;
  animation: movetop 1s linear -0.2s infinite;
}
.g-ball:nth-child(114) {
  width: 37px;
  height: 37px;
  left: 3px;
  animation: movetop 1s linear -6.61s infinite;
}
.g-ball:nth-child(115) {
  width: 27px;
  height: 27px;
  left: 2px;
  animation: movetop 1s linear -28.46s infinite;
}
.g-ball:nth-child(116) {
  width: 26px;
  height: 26px;
  left: -7px;
  animation: movetop 1s linear -6.01s infinite;
}
.g-ball:nth-child(117) {
  width: 36px;
  height: 36px;
  left: -35px;
  animation: movetop 1s linear -19.06s infinite;
}
.g-ball:nth-child(118) {
  width: 30px;
  height: 30px;
  left: -42px;
  animation: movetop 1s linear -16.65s infinite;
}
.g-ball:nth-child(119) {
  width: 33px;
  height: 33px;
  left: -42px;
  animation: movetop 1s linear -7.48s infinite;
}
.g-ball:nth-child(120) {
  width: 7px;
  height: 7px;
  left: -21px;
  animation: movetop 1s linear -17.96s infinite;
}
.g-ball:nth-child(121) {
  width: 44px;
  height: 44px;
  left: -19px;
  animation: movetop 1s linear -15.88s infinite;
}
.g-ball:nth-child(122) {
  width: 33px;
  height: 33px;
  left: 19px;
  animation: movetop 1s linear -27.31s infinite;
}
.g-ball:nth-child(123) {
  width: 42px;
  height: 42px;
  left: -12px;
  animation: movetop 1s linear -6.38s infinite;
}
.g-ball:nth-child(124) {
  width: 6px;
  height: 6px;
  left: -5px;
  animation: movetop 1s linear -5.21s infinite;
}
.g-ball:nth-child(125) {
  width: 20px;
  height: 20px;
  left: -10px;
  animation: movetop 1s linear -9.61s infinite;
}
.g-ball:nth-child(126) {
  width: 50px;
  height: 50px;
  left: -5px;
  animation: movetop 1s linear -23.27s infinite;
}
.g-ball:nth-child(127) {
  width: 1px;
  height: 1px;
  left: -6px;
  animation: movetop 1s linear -26.57s infinite;
}
.g-ball:nth-child(128) {
  width: 20px;
  height: 20px;
  left: -47px;
  animation: movetop 1s linear -21.92s infinite;
}
.g-ball:nth-child(129) {
  width: 40px;
  height: 40px;
  left: 1px;
  animation: movetop 1s linear -5.46s infinite;
}
.g-ball:nth-child(130) {
  width: 20px;
  height: 20px;
  left: 19px;
  animation: movetop 1s linear -17.78s infinite;
}
.g-ball:nth-child(131) {
  width: 33px;
  height: 33px;
  left: -10px;
  animation: movetop 1s linear -25.82s infinite;
}
.g-ball:nth-child(132) {
  width: 22px;
  height: 22px;
  left: 3px;
  animation: movetop 1s linear -6.27s infinite;
}
.g-ball:nth-child(133) {
  width: 39px;
  height: 39px;
  left: -22px;
  animation: movetop 1s linear -14.62s infinite;
}
.g-ball:nth-child(134) {
  width: 24px;
  height: 24px;
  left: 10px;
  animation: movetop 1s linear -23.16s infinite;
}
.g-ball:nth-child(135) {
  width: 29px;
  height: 29px;
  left: -32px;
  animation: movetop 1s linear -22.4s infinite;
}
.g-ball:nth-child(136) {
  width: 46px;
  height: 46px;
  left: -13px;
  animation: movetop 1s linear -21.96s infinite;
}
.g-ball:nth-child(137) {
  width: 36px;
  height: 36px;
  left: -17px;
  animation: movetop 1s linear -10.58s infinite;
}
.g-ball:nth-child(138) {
  width: 11px;
  height: 11px;
  left: -11px;
  animation: movetop 1s linear -10.2s infinite;
}
.g-ball:nth-child(139) {
  width: 16px;
  height: 16px;
  left: 15px;
  animation: movetop 1s linear -8.55s infinite;
}
.g-ball:nth-child(140) {
  width: 45px;
  height: 45px;
  left: -32px;
  animation: movetop 1s linear -16.38s infinite;
}
.g-ball:nth-child(141) {
  width: 49px;
  height: 49px;
  left: 16px;
  animation: movetop 1s linear -10.07s infinite;
}
.g-ball:nth-child(142) {
  width: 14px;
  height: 14px;
  left: -10px;
  animation: movetop 1s linear -25.32s infinite;
}
.g-ball:nth-child(143) {
  width: 20px;
  height: 20px;
  left: -4px;
  animation: movetop 1s linear -26.68s infinite;
}
.g-ball:nth-child(144) {
  width: 1px;
  height: 1px;
  left: 5px;
  animation: movetop 1s linear -0.28s infinite;
}
.g-ball:nth-child(145) {
  width: 5px;
  height: 5px;
  left: -16px;
  animation: movetop 1s linear -27.48s infinite;
}
.g-ball:nth-child(146) {
  width: 31px;
  height: 31px;
  left: 1px;
  animation: movetop 1s linear -1.16s infinite;
}
.g-ball:nth-child(147) {
  width: 24px;
  height: 24px;
  left: 5px;
  animation: movetop 1s linear -22.45s infinite;
}
.g-ball:nth-child(148) {
  width: 40px;
  height: 40px;
  left: 7px;
  animation: movetop 1s linear -24.72s infinite;
}
.g-ball:nth-child(149) {
  width: 4px;
  height: 4px;
  left: -2px;
  animation: movetop 1s linear -8.28s infinite;
}
.g-ball:nth-child(150) {
  width: 10px;
  height: 10px;
  left: -22px;
  animation: movetop 1s linear -29.58s infinite;
}
.g-ball:nth-child(151) {
  width: 7px;
  height: 7px;
  left: 11px;
  animation: movetop 1s linear -12.23s infinite;
}
.g-ball:nth-child(152) {
  width: 47px;
  height: 47px;
  left: 12px;
  animation: movetop 1s linear -28.28s infinite;
}
.g-ball:nth-child(153) {
  width: 20px;
  height: 20px;
  left: 10px;
  animation: movetop 1s linear -19.24s infinite;
}
.g-ball:nth-child(154) {
  width: 46px;
  height: 46px;
  left: -36px;
  animation: movetop 1s linear -27.1s infinite;
}
.g-ball:nth-child(155) {
  width: 6px;
  height: 6px;
  left: -38px;
  animation: movetop 1s linear -18.91s infinite;
}
.g-ball:nth-child(156) {
  width: 18px;
  height: 18px;
  left: 6px;
  animation: movetop 1s linear -3.76s infinite;
}
.g-ball:nth-child(157) {
  width: 29px;
  height: 29px;
  left: -13px;
  animation: movetop 1s linear -27.59s infinite;
}
.g-ball:nth-child(158) {
  width: 2px;
  height: 2px;
  left: -10px;
  animation: movetop 1s linear -23.85s infinite;
}
.g-ball:nth-child(159) {
  width: 14px;
  height: 14px;
  left: -25px;
  animation: movetop 1s linear -15.14s infinite;
}
.g-ball:nth-child(160) {
  width: 18px;
  height: 18px;
  left: -35px;
  animation: movetop 1s linear -22.03s infinite;
}
.g-ball:nth-child(161) {
  width: 19px;
  height: 19px;
  left: -18px;
  animation: movetop 1s linear -29.28s infinite;
}
.g-ball:nth-child(162) {
  width: 41px;
  height: 41px;
  left: -16px;
  animation: movetop 1s linear -8.35s infinite;
}
.g-ball:nth-child(163) {
  width: 14px;
  height: 14px;
  left: 12px;
  animation: movetop 1s linear -21.53s infinite;
}
.g-ball:nth-child(164) {
  width: 49px;
  height: 49px;
  left: -50px;
  animation: movetop 1s linear -2.53s infinite;
}
.g-ball:nth-child(165) {
  width: 19px;
  height: 19px;
  left: -48px;
  animation: movetop 1s linear -4.26s infinite;
}
.g-ball:nth-child(166) {
  width: 24px;
  height: 24px;
  left: -34px;
  animation: movetop 1s linear -9.65s infinite;
}
.g-ball:nth-child(167) {
  width: 1px;
  height: 1px;
  left: -1px;
  animation: movetop 1s linear -19.48s infinite;
}
.g-ball:nth-child(168) {
  width: 17px;
  height: 17px;
  left: -7px;
  animation: movetop 1s linear -26.13s infinite;
}
.g-ball:nth-child(169) {
  width: 19px;
  height: 19px;
  left: 15px;
  animation: movetop 1s linear -7.09s infinite;
}
.g-ball:nth-child(170) {
  width: 12px;
  height: 12px;
  left: -41px;
  animation: movetop 1s linear -7.76s infinite;
}
.g-ball:nth-child(171) {
  width: 40px;
  height: 40px;
  left: -18px;
  animation: movetop 1s linear -11.04s infinite;
}
.g-ball:nth-child(172) {
  width: 5px;
  height: 5px;
  left: -11px;
  animation: movetop 1s linear -22.78s infinite;
}
.g-ball:nth-child(173) {
  width: 48px;
  height: 48px;
  left: -25px;
  animation: movetop 1s linear -12.75s infinite;
}
.g-ball:nth-child(174) {
  width: 39px;
  height: 39px;
  left: -24px;
  animation: movetop 1s linear -26.51s infinite;
}
.g-ball:nth-child(175) {
  width: 20px;
  height: 20px;
  left: -16px;
  animation: movetop 1s linear -24.73s infinite;
}
.g-ball:nth-child(176) {
  width: 8px;
  height: 8px;
  left: -48px;
  animation: movetop 1s linear -8.74s infinite;
}
.g-ball:nth-child(177) {
  width: 1px;
  height: 1px;
  left: -39px;
  animation: movetop 1s linear -6.8s infinite;
}
.g-ball:nth-child(178) {
  width: 27px;
  height: 27px;
  left: -1px;
  animation: movetop 1s linear -3.45s infinite;
}
.g-ball:nth-child(179) {
  width: 31px;
  height: 31px;
  left: -34px;
  animation: movetop 1s linear -11.07s infinite;
}
.g-ball:nth-child(180) {
  width: 2px;
  height: 2px;
  left: 10px;
  animation: movetop 1s linear -5.28s infinite;
}
.g-ball:nth-child(181) {
  width: 17px;
  height: 17px;
  left: -42px;
  animation: movetop 1s linear -25.36s infinite;
}
.g-ball:nth-child(182) {
  width: 50px;
  height: 50px;
  left: -44px;
  animation: movetop 1s linear -23.51s infinite;
}
.g-ball:nth-child(183) {
  width: 11px;
  height: 11px;
  left: -48px;
  animation: movetop 1s linear -25.92s infinite;
}
.g-ball:nth-child(184) {
  width: 20px;
  height: 20px;
  left: -23px;
  animation: movetop 1s linear -2.77s infinite;
}
.g-ball:nth-child(185) {
  width: 27px;
  height: 27px;
  left: -42px;
  animation: movetop 1s linear -17.38s infinite;
}
.g-ball:nth-child(186) {
  width: 40px;
  height: 40px;
  left: -46px;
  animation: movetop 1s linear -3.08s infinite;
}
.g-ball:nth-child(187) {
  width: 48px;
  height: 48px;
  left: -37px;
  animation: movetop 1s linear -25.73s infinite;
}
.g-ball:nth-child(188) {
  width: 38px;
  height: 38px;
  left: 1px;
  animation: movetop 1s linear -26.02s infinite;
}
.g-ball:nth-child(189) {
  width: 23px;
  height: 23px;
  left: -1px;
  animation: movetop 1s linear -13.45s infinite;
}
.g-ball:nth-child(190) {
  width: 6px;
  height: 6px;
  left: -2px;
  animation: movetop 1s linear -4.78s infinite;
}
.g-ball:nth-child(191) {
  width: 11px;
  height: 11px;
  left: -45px;
  animation: movetop 1s linear -5.62s infinite;
}
.g-ball:nth-child(192) {
  width: 22px;
  height: 22px;
  left: -5px;
  animation: movetop 1s linear -6.17s infinite;
}
.g-ball:nth-child(193) {
  width: 10px;
  height: 10px;
  left: -23px;
  animation: movetop 1s linear -22.61s infinite;
}
.g-ball:nth-child(194) {
  width: 50px;
  height: 50px;
  left: -32px;
  animation: movetop 1s linear -0.33s infinite;
}
.g-ball:nth-child(195) {
  width: 35px;
  height: 35px;
  left: -6px;
  animation: movetop 1s linear -24.61s infinite;
}
.g-ball:nth-child(196) {
  width: 26px;
  height: 26px;
  left: -49px;
  animation: movetop 1s linear -17.49s infinite;
}
.g-ball:nth-child(197) {
  width: 47px;
  height: 47px;
  left: 12px;
  animation: movetop 1s linear -0.11s infinite;
}
.g-ball:nth-child(198) {
  width: 3px;
  height: 3px;
  left: -6px;
  animation: movetop 1s linear -4.76s infinite;
}
.g-ball:nth-child(199) {
  width: 1px;
  height: 1px;
  left: 16px;
  animation: movetop 1s linear -4.49s infinite;
}
.g-ball:nth-child(200) {
  width: 3px;
  height: 3px;
  left: 12px;
  animation: movetop 1s linear -0.99s infinite;
}
@-moz-keyframes movetop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170px);
    opacity: 0;
  }
}
@-webkit-keyframes movetop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170px);
    opacity: 0;
  }
}
@-o-keyframes movetop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170px);
    opacity: 0;
  }
}
@keyframes movetop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170px);
    opacity: 0;
  }
}
