* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    background-color: #fff;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.douban-container {
    /* border: 1px solid red;  */
    /* background-color: #b0b0b0; */
    width: 100%;
    cursor: pointer;
}

.douban-topbar {
    margin: 0 auto;
    width: 1226px;
    /* border: 1px solid red; */
    height: 68px;
}

.douban-topbar__logo {
    float: left;
}

.douban-topbar__logo .logo-1 {
    color: #228A31;
}

.douban-topbar__logo .logo-2 {
    color: #228A31;
}

.douban-container .douban-topbar .douban-topbar__logo {
    color: #666699;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    margin: 10px;
}

.douban-topbar__search {
    float: left;
    height: 40px;
    width: 280px;
    line-height: 40px;
    padding-left: 60px;
    margin: 15px;
    padding-right: 10px;
}

.douban-topbar__search .douban-topbar__searchinput {
    width: 250px;
    height: 30px;
    float: left;
}

.douban-topbar__search .douban-topbar__searchbtn {
    width: 30px;
    height: 30px;
    border: none;
    /* line-height: 30px; */
    /* background-color: #fff; */
}

.douban-topbar__nav {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}

.douban-topbar__nav li {
    float: left;
    padding-right: 20px;
}

.douban-topbar__nav li a {
    font-size: 20px;
}

.douban-topbar__nav .read {
    color: #584029;
}

.douban-topbar__nav .moive {
    color: #278DCE;
}

.douban-topbar__nav .music {
    color: #F37F00;
}

.douban-topbar__nav .group {
    color: #47AEB4;
}

.douban-topbar__nav .city {
    color: #E85205;
}

.douban-topbar__nav .fm {
    color: #9BD6C5;
}

.douban-topbar__nav .time {
    color: #515151;
}

.douban-topbar__nav .see {
    color: #599553;
}
.douban-download {
    width: 100%;
    height: 250px;
   background: url(../images/info.jpg) no-repeat ;
   background-color: #edf4ed;
   background-size: contain;
   background-position: calc(50% - 305px) top;
   margin-bottom: 25px;
}
.douban-download .douban-download__load {
    position: relative;
    float: left;
    /* left:0; */
    top: 80px;
    /* font-size: 20px; */
    width: 114.9px;
    margin-left: 40px;
}
.douban-download .douban-download__load h3 {
    font-size:24px;
    color:#111;
}
.douban-download .douban-download__load h3 span {
    padding-left: 4px;
    color: #111;
}
.douban-download .douban-download-btn {
    background-color: #00B51D;
    border: 0;
    border-radius: 1px solid #00B51D;
    width: 114.9px;
    height: 30px;
    cursor: pointer;
}
.douban-download__login{
    position: relative;
    margin-top: 20px;
    float: left;
   padding-left: 50px;
}
